html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; /* Ensure it spans the full width */
    /* background-color: rgb(0, 0, 0); */
    color: black;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.astro-button {
    font-size: 1.2rem;
}

.Title {
    padding-bottom: 200px;
    font-size: 120px;
    text-align: center; /* Ensure title is centered */
}