html, body {
  height: 100%;
  margin: 0;
  padding: 0;  
}

.main-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 4;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  width: 80px;
  top:-40%;
  right: 20px;
  background-color: none;
  padding-top: 20px;
  padding-bottom: 0.5%;
  padding-left: 1%;
  position:absolute;
}
.icon-button {
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 0%;
}
.icon-button:hover {
  background-color: #a5561e; 
}
.icon-button:focus {
  outline: none;
}

.icon-button:active {
  transform: scale(0.9);
}

.icon-image {
  color: #333;
}

.content {
  background-color: #e27e36;
  padding: 30px;
  width: 100%;
  margin-left: -40px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.418);
}

.dialog-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.logo-text {
  font-size: 40px;
  position: absolute;
  font-family:monospace;
  color: #ffffff;
  z-index: 5;
  left:5%;
  top:0%; 
}
.My-recipes-text{
  top:12%;
  left:8%;
  font-size:30px;
  font-family:fantasy;
  position: absolute;
  color: #000000;
}