.profile-container {
    color: #a5561e;
    background-color: #ffa500; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.profile-container::part(body) {
    height: 300px;
    width:500px
  }