.Title_recipe{
    font-size: 90%;
    margin-left: 2%;
    margin-top: -1%;
}

  .recipe_image {
    width: 50%;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 15px;
  }

  .description-container {
    flex: 1;
    color: white;
    font-size: 50%;
  }
  
  .icon-container {
    justify-content: center;
    position: absolute;
    left:20px;
  }

  